body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #e2e1e0;
}

.wrapper {
  max-width: 800px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: white;
  padding: 48px;
  border-radius: 6px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

.bold {
  font-weight: 600;
}
