/* Styling for the create before and after pages. */

#create-page-main {
  padding: 24px;
  display: grid;
  grid-template-areas: "select-playlists" "filter-songs" "name-playlist" "footer";
  grid-auto-rows: min-content;
  grid-row-gap: 16px;
}

#create-page-footer {
  grid-area: footer;
  margin-top: 48px;
}
@media (min-width: 600px) {
  #create-page-main {
    grid-template-areas: "select-playlists filter-songs" "name-playlist name-playlist" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }

  #playlists-wrapper {
    max-height: calc(100vh - 300px);
    overflow: scroll;
  }
}

@media (min-width: 850px) {
  #create-page-main {
    grid-template-areas: "select-playlists filter-songs name-playlist" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
  }
}

h3 {
  font-weight: 500;
}

#select-playlists {
  grid-area: select-playlists;
  /* border: 2px solid red; */
}

#filter-songs {
  grid-area: filter-songs;
  /* border: 2px solid yellow; */
}

#name-playlist {
  grid-area: name-playlist;
}

.section-header {
  margin-bottom: 8px;
}

.section-description {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0px;
  margin-bottom: 24px !important;
}

#playlists-wrapper {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.playlist-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

/* Customize checkboxes */
.check-svg {
  width: 26px !important;
  height: 26px !important;
}

.state svg {
  padding: 3px !important;
}

/* Input rows */
.input-row-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-row-wrapper {
  margin-bottom: 36px;
}

.input-row-label {
  margin-bottom: 0px;;
  font-weight: 600;
  font-size: 1.25em;
  display: flex;
}

.input-row-label .playlist-checkbox-wrapper {
  margin-top: 4px;
  margin-right: -8px;
}

.text-input {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 16px;
  color: rgba(255, 255, 255, 0.97);
  outline: none;
  transition: all 0.2s ease-in-out;
}

.text-input:focus,
.text-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.slider {
  border-radius: 8px;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  -webkit-appearance: none;
}

input:disabled {
  filter: brightness(50%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.range-labels-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.75);
}
